cycler==0.10.0
ipget==0.0.3
kafka-python==2.0.2
kiwisolver==1.3.1
matplotlib==3.3.4
numpy==1.20.1
Pillow==8.1.0
pkg-resources==0.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
scd30-i2c==0.0.6
six==1.15.0
smbus==1.1.post2
smbus2==0.3.0
